#contact>a {
	background-color: #111;
}

* {
	overflow: visible;
}

@media only screen and (max-width: 1203px) {
	.container {
		padding-bottom: 8%;
	}
}

.contactTitle {
	text-align: center;
	background-color: #E6F0FF;
	height: 2em;
}

.contactTitle h2 {
	margin: 0;
	padding-top: 0.3em;
}

.contactInfo {
	width: 70%;
	margin: 0 auto;
	margin-top: 1em;
}

.linkButton {
	height: 1.5em;
}

.linkButton, .contactContainer {
	display: flex;
	justify-content: center;
}

.contactContainer>div {
	padding-top: 3%;
	display: block;
	width: 60%;
	text-align: center;
}

.address strong {
	color: #0B0B61;
}

.phone p {
	padding-top: 1em;
}

.phone>p>a {
	text-decoration: none;
	color: #0B0B61;
}

.email>p {
	margin-top: 0.5em;
}

.email>p>a {
	color: #0B0B61;
}

.phoneDirectory, .videoLibrary {
	padding-left: 0.5em;
	padding-right: 0.5em;
	display: block;
	color: white;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	background-color: #0B0B61;
	color: white;
	margin-right: 1em;
	display: block;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	[class*="contactInfo"] {
		margin-bottom: 28%;
	}
	.contactContainer {
		display: grid;
	}
	.contactContainer>div {
		width: 100%;
		padding-top: 3%;
		display: block;
	}
	.linkButton {
		height: 0%;
	}
}