* {
	font-size: 17pt;
	font-family: "Roboto", Helvetica, sans-serif;
	overflow: auto;
	scroll-behavior: smooth;
}

html {
	background: white;
	margin: 0 auto;
	padding: 0;
}

header {
	background-image: url("../images/GCH_logo.svg");
	background-size: 150px 80px;
	background-position: left;
	background-attachment: scroll;
	background-repeat: no-repeat;
	border-top: 10px solid #0B0B61;
	/* 	border-bottom: 10px solid #0B0B61; */
	margin: 0 auto;
	padding-top: 5px;
	width: 100%;
	height: 80px;
	background-color: #A9E2F3;
	text-align: right;
	font-size: 25px;
	overflow: hidden;
}

header h3, h4 {
	margin: 5px 5px;
	margin-right: 50px;
}

.menubar nav {
	float: left;
	width: 100%;
	background-color: #0B0B61;
}

.menubar nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menubar nav ul li {
	list-style: none;
	float: left;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
}

.menubar nav li a {
	color: white;
	display: block;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	width: 130px;
}

.menubar nav li a:hover {
	background-color: #111;
}

#welcome {
	text-align: right;
	font-size: 28px;
	padding-bottom: 0;
}

footer {
	width: 100%;
	height: 40px;
	border-top: 5px solid #0B0B61;
	position: fixed;
	bottom: 0;
	background-color: white;
}

.foo_nav {
	margin: 0%;
	padding: 1 1 1 1;
}

.foo_nav a {
	display: inline-block;
	height: 33px;
	width: flex;
	margin-top: 10px;
	margin-left: 5px;
	float: right;
	text-align: center;
	font-size: 80%;
	color: inherit;
	text-decoration: none;
}

.icon-bar {
	position: fixed;
	bottom: 0;
	-webkit-transform: translateX(400%);
	-ms-transform: translateX(400%);
	transform: translateX(400%);
}

.icon-bar a {
	display: inline-block;
	text-align: center;
	padding: 16px;
}

.icon-bar a:hover {
	background-color: #2E2EFE;
}

.facebook {
<<<<<<< HEAD
	background-image: url("./facebook.svg");
=======
	background-image: url("../images/facebook.svg");
>>>>>>> branch 'master' of https://github.com/minaleebtu/webAssignment2
	color: white;
}

.twitter {
<<<<<<< HEAD
	background-image: url("./twitter.svg");
=======
	background-image: url("../images/twitter.svg");
>>>>>>> branch 'master' of https://github.com/minaleebtu/webAssignment2
	color: white;
}

.google {
<<<<<<< HEAD
	background-image: url("./search.svg");
=======
	background-image: url("../images/search.svg");
>>>>>>> branch 'master' of https://github.com/minaleebtu/webAssignment2
	color: white;
}

.youtube {
<<<<<<< HEAD
	background-image: url("./youtube.svg");
=======
	background-image: url("../images/youtube.svg");
>>>>>>> branch 'master' of https://github.com/minaleebtu/webAssignment2
	color: white;
}