.serviceTitle{
	text-align: center;
	background-color: #E6F0FF;
	width: 100%;
	margin-top: -0.5%;
	margin-bottom: -5%;
	overflow: hidden;
}

.serviceTitle > h2{
	padding-bottom: -2%;
}

.container {
  width: 100%;
  height: 80%;
  text-align: center;
  background-image: url("../images/child_care.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: scroll;
  align-items: center;
}

.description{
  text-align: center;
  margin-top: 3%;
  margin-bottom: 4.2%;
  margin-left: 3%;
  padding-left: 2%;
  padding-right: 2%;
  float: left;
  width: 30%;
  background-color: #7FDD78;
}

.serviceTitle{
	background-color:#E6F0FF;
}

#hospitalization{
  margin-top: 1%;
}
