.serviceTitle{
	background-color: #E6F0FF;
	width: 100%;
	text-align: center;
	margin-top: -0.5%;
	padding-bottom: -0.5%;
	margin-bottom: -3%;
	overflow: hidden;
}

.container {
  width: 99%;
  height: 80%;
  text-align: center;
  overflow: hidden;
}


.description{
  text-align: justify;
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 12%;
  width: 80%;
  background-color: #A9E2F3;
  border: 3px solid #0B0B61;
  border-radius: 5px;
}


.exempted{
  overflow: hidden;
  margin: 0;
  padding: 1 1 1 1;
}

.payoption {
  overflow: auto;
  background-color: inherit;
  text-align: center;
  margin-bottom: 2%;
}

.visa, .mastercard, .AE, .discover, .cash{
  text-align: center;
  display: inline-block;
  height: 33px;
  width: 50px;
}

.visa{
  background-image: url("../images/visa.svg");
  background-repeat: no-repeat;
}
.mastercard{
  background-image: url("../images/master-card-logo.svg");
  background-repeat: no-repeat;
}

.AE{
  background-image: url("../images/american-express-logo.svg");
  background-repeat: no-repeat;
}

.discover{
  background-image: url("../images/discover-logo-of-pay-system.svg");
  background-repeat: no-repeat;
}

.cash{
  background-image: url("../images/euro.svg");
  background-repeat: no-repeat;
}
