#contact>a {
	background-color: #111;
}

* {
	overflow: visible;
}

.container {
	padding-bottom: 8%;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	div.content>p {
		padding-top: 5%;
		font-size: 1em;
	}
	div.videoContainer video {
		width: 100%;
	}
}

@media only screen and (max-width: 700px) {
	.container {
		padding-bottom: 12%;
	}
}

@media only screen and (max-width: 610px) {
	.container {
		padding-bottom: 20%;
	}
}

@media only screen and (max-width: 510px) {
	.container {
		padding-bottom: 35%;
	}
}

@media only screen and (max-width: 410px) {
	.container {
		padding-bottom: 60%;
	}
}

.bread p {
	color: #0B0B61;
	background-color: #E6F0FF;
	font-size: 0.7em;
	margin-top: 0px;
	margin-bottom: -1%;
	padding-left: 1%;
	padding-top: 1%;
}

div.bread p>a {
	color: #0B0B61;
	font-size: 1em;
}

.videoTitle {
	text-align: center;
	background-color: #E6F0FF;
	height: 2em;
}

.videoTitle h2 {
	margin: 0;
	padding-top: 0;
}

.videoInfo {
	width: 70%;
	margin: 0 auto;
}

.accordion {
	margin: 0 auto;
	padding: 10px;
}

.accordion ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.accordion li {
	margin: 0;
	padding: 0;
}

.accordion [type=radio], .accordion [type=checkbox] {
	display: none;
}

.accordion label {
	display: block;
	background-color: #0072bc;
	color: #E6E6E6;
	cursor: pointer;
}

.accordion .content {
	padding: 0 10px;
	overflow: hidden;
}

.accordion p {
	margin: 0 0 10px;
}

.accordion ul li {
	overflow: hidden;
	margin: 0 0 1px;
}

.accordion ul li label {
	padding: 10px;
}

.accordion ul li label:hover {
	background-color: #084B8A;
	color: #E6E6E6;
}

.accordion ul li .content {
	overflow: auto;
	height: 0px;
}

.accordion [type=radio]:checked ~ label ~ .content, .accordion [type=checkbox]:checked 
	 ~ label ~ .content {
	height: 100%;
	background-color: #E6F0FF;
}

.content>p {
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 7%;
	padding-right: 5%;
	font-size: 0.82em;
}

.videoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 3%;
}

video {
	width: 60%;
}