*{
  margin:0;
  padding: 0;
}

html{
  background: #FFFFFF;
}

header{
  height: 150px;
  background-color: #A9E2F3;
  border-top: 10px solid #0B0B61;
  border-bottom: 10px solid #0B0B61;
  font-size: 35px;
  text-align: right;
}
img #logo{
  background-color: #FFFFFF;
  position: absolute;
  float: left;
}

nav{
  list-style: none;
  margin:10px;
  padding:10px;
  margin-left: 10px;
  overflow: hidden;
  color: #0B0B61;
  border-bottom: 3px solid #0B0B61;
}

li{
  margin: 0 10px 10px 0;
  padding: 0 10px 10px 0;
  border: 10px;
  float: left;
}
.container {
  text-align: center;
  font-size: 30px;
  font-style: italic;
}

#purpose{
  text-align: center;
  font-size: 23px;
}

a#go_back{
  text-align: center;
  font-size: 23px;
}

footer{
  text-align: center;
}
