.programTitle{
	text-align: center;
	background-color: #E6F0FF;
	height: 2em;
}
.programTitle > h2{
	margin: 0;
	padding-top: 0.3em;
}
.prt_container {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #A9E2F3;
  align-items: center;
}
.description{
	margin-top: 1%;
	margin-bottom: 3%;
}
.prtnursing{
  text-align: center;
  margin-top: 2%;
  margin-left: 3%;
  padding-left: 2%;
  padding-right: 2%;
  width: 80%;
  background-color: white;
  border: 3px solid #0B0B61;
  border-radius: 10px;
}

#prt_nursing{
  margin-top: 1%;
  margin-bottom: 0.5%;
}
