.listTitle{
	text-align: center;
	background-color: #E6F0FF;
	height: 2em;
}

.listTitle > h2{
	margin: 0;
	padding-top: 0.3em;
}
.container{
  align-items: center;
}

table, tr, td {
  border: 3px solid #0B0B61;
  border-radius: 10px;
}
tr, td {
  padding: 5px;
}
