#findDoctor >a{
  	background-color: #111;
}

.bread > p {
	color:#0B0B61;
	background-color:#E6F0FF;
	font-size: 0.7em;
	margin-top: 0px;
	margin-bottom: -1%;
	border-left-width: 0px;
	padding-left: 1%;
	padding-top: 1%;
	height: 2em;
}

.bread > p > a{
	font-size: 1em;
	color: #0B0B61;
}

.serviceTitle{
	text-align: center;
	background-color: #E6F0FF;
	height: 2em;
	margin-top: -1%;
}
.serviceTitle > h2{
	margin: 0;
	padding-top: 0px;
}
.description{
	margin: 0 auto;
  margin-top: 4%;
  margin-bottom: 13%;
  width: 80%;
  text-align: center;
  overflow: hidden;
  padding-bottom: 0;
}

.button-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  overflow: hidden;
  margin-top: 1%;
}

.cell{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  border: 3px solid #0B0B61;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  height: 100px;
  background-color: #E6F0FF;
  box-shadow: 5px 3px 3px #0B0B61;
}

.cell>a{
  overflow-x: hidden;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.AAE,.pharmacy, .GS{
  margin-right: -2px;
  margin-left: 2%;
  padding: 5px;
}
.cardiology, .GS, .opthalmology, .otolaryngology,  .radiology, .urology{
  margin-right: -2px;
  margin-left: -2px;
  padding: 5px;
}

.BS, .cardiology, .urology{
  margin-bottom: 0;
}

.cell:hover{
  color: #E6E6E6;
  background-color: #0B0B61;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
   [class*="description"]{margin-bottom: 28%;}
   [class*="button-container"]{display:unset;}
   [class*="col1"]{display:inline list-item; list-style: none;}
}
