* {
	overflow: visible;
}

.container {
	padding-bottom: 5%;
}

.historyTitle {
	text-align: center;
	background-color: #E6F0FF;
}

.historyTitle h2 {
	padding-top: 43px;
	padding-bottom: 13px;
}

.aboutus {
	width: 70%;
	margin: 0 auto;
}

.history {
	border: 1px solid;
}

ul.historyList {
	list-style: none;
	list-style-image: url("../images/hospital_list_icon.png");
}

ul.historyList>li:FIRST-CHILD {
	padding-top: 0;
}

ul.historyList li {
	padding-left: 10px;
	padding-top: 1em;
}

.videoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 3%;
}

video {
	width: 40%;
}