#faq >a{
  	background-color: #111;
}

.faqcontainer{
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom:2%;
  width: 80%;
  border:1px solid transparent;
  text-align: justify;
}

.lastfaqcontainer{
  margin: 0 auto;
  margin-bottom:12%;
  width: 80%;
  border:1px solid transparent;
  text-align: justify;
}

.bread > p {
	color:#0B0B61;
	background-color:#E6F0FF;
	font-size: 0.7em;
	margin-top: 0px;
	margin-bottom: -1%;
	border-left-width: 0px;
	padding-left: 1%;
	padding-top: 1%;
}

.faqTitle{
	text-align: center;
	background-color: #E6F0FF;
	height: 2em;
}
.faqTitle > h2{
	margin: 0;
	padding-top: 0px;
}
.panelbox{display: inline-block;}

.panel-title{
  padding:9px 20px;
  margin-top:0;
  margin-bottom:0;
  border-bottom: 3px solid #0B0B61;
  background-color: #E6F0FF;
  font-weight: bold;
}

.panel-title:hover{background-color: #eeeeee;}
.faqcontainer .panel{margin-bottom:0;}
.panel-default{border-color:#0B0B61;}
.panel-default > .panel-body{border-top-color:#0B0B61;}
.panel-default > .panel-body{border-bottom-color:#0B0B61;}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class *="faqcontainer"],[class *="lastfaqcontainer"]{width: 95%;}
  [class *="lastfaqcontainer"]{margin-bottom:28%;}
}
