.programTitle{
	text-align: center;
	background-color: #E6F0FF;
	height: 2em;
}
.programTitle > h2{
	margin: 0;
	padding-top: 0.3em;
}
.container {
  width: 60%;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 5%;
}

.container1{
	margin-top: 1.5%;
	border: 3px solid #0B0B61;
  	border-radius: 10px; 
  	margin-bottom: 9%;
  	padding-left: 2%;
  	padding-right: 2%;
  	padding-bottom: 0;
  	width: 90%;
}

#description{
	margin: 0 auto;
	margin-top: 1.5%;
	margin-bottom: 2%;
}

.program{
	padding: 0;
}
#education_program {
  margin-top: 1%;
  margin-bottom: 0.5%;
}
#col1, #col2{width: 25%;}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="container1"], [id*="description"] {width: 100%;}
  [class*="container"]{
  width: 80%;
  margin-bottom: 28%;
  }
  [id*="description"]{
  border:transparent;
  border-radius: unset;
  }
  [id *= "col1"], [id*="col2"], [id*="col3"]{
  border-bottom: 3px solid #0B0B61;
  }
}