* {
	overflow: visible;
}

.container {
	padding-bottom: 10%;
}

.historyTitle {
	text-align: center;
	background-color: #E6F0FF;
	height: 2em;
}

.historyTitle h2 {
	margin: 0;
	padding-top: 0.3em;
}

.aboutus {
	width: 70%;
	margin: 0 auto;
	margin-top: 1em;
}

.history {
	border: 1px solid;
}

ul.historyList {
	list-style: none;
	list-style-image: url("../images/hospital_list_icon.png");
}

ul.historyList>li:FIRST-CHILD {
	padding-top: 0;
}

ul.historyList li {
	padding-left: 10px;
	padding-top: 1em;
}

.videoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 3%;
}

video {
	width: 40%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="container"]{margin-bottom:28%;}
  [class*="aboutus"]{font-size:5vw;}
   ul>li{font-size:4vw;}
   video{width:70%;}
}