.serviceTitle{
	text-align: center;
	background-color: #E6F0FF;
	height: 2em;
}
.serviceTitle > h2{
	margin: 0;
	padding-top: 0.3em;
}

.container {
  margin:0 auto;
  width: 90%;
  height: 80%;
  text-align: center;
  overflow: hidden;
  padding: 0.5%;
}

.description{
	display: inline-grid;
	align-content: center;
}

.img{
	padding-bottom: 0;
	margin-bottom: 0;
}

.buttoncontainer{
  width: 100%;
  margin-bottom: 5%;
  margin-top: 7%;
  display: flex;
  padding-top: 1%;
  padding-bottom: 1%;
  align-content: center;
}

.button{
  display: inline-grid;
  border: 3px solid #0B0B61;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  height: 100px;
  background-color: #E6F0FF;
  box-shadow: 5px 3px 3px #0B0B61;
  margin-left: 0.5%;
  margin-right: 2%;
  font-weight: bold;
  width: 33%;
  align-items: center;
  justify-content: center;
}

.button > a{
  overflow-x: hidden;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.button:hover{
  color: white;
  background-color: #0B0B61;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="description"] {
    width: 100%;
  }
}