* {
	overflow: visible;
}

.container {
	padding-bottom: 8%;
}

.phonedirTitle {
	text-align: center;
	background-color: #E6F0FF;
	height: 2em;
}

.phonedirTitle h2 {
	margin: 0;
	padding-top: 0.3em;
}

.phonedir {
	display: flex;
	justify-content: center;
	padding-top: 3%;
	margin: 0 auto;
	width: 70%;
}

#phonedir_tab>tbody>tr>td:nth-child(2) {
	text-align: center;
}

#phonedir_tab>tbody>tr>th {
	background-color: #BEDAF3;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}

#phonedir_tab>tbody>tr>td {
	padding: 0.5em;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.phonedir {
		margin-bottom: 30%;
		font-size: 0.95em;
	}
	#phonedir_tab>tbody>tr>td {
		padding: 0;
		border-bottom: 1px solid #0072bc;
	}
	#phonedir_tab>tbody>tr>th {
		padding: 0;
		padding-left: 0;
		padding-right: 0;
	}
	#phonedir_tab>tbody>tr>td:nth-child(2) {
		border-left: 1px solid #0072bc;
		border-right: 1px solid #0072bc;
		padding-left: 0.3em;
		padding-right: 0.3em;
	}
}