*{
  margin:0;
  padding: 0;
}

html{
  background: #222;
}

header{
  height: 150px;
  color: #F3F3F0;
  border-top: 10px solid #FF8868;
  border-bottom: 10px solid #FF8868;
  text-align: center;
}
img {
  background-color: #F3F3F0;

}
nav{
  list-style: none;
  margin:10px;
  padding:10px;
  margin-left: 15px;
  overflow: hidden;
  color: #F3F3F0;
  border-bottom: 3px solid #FF8868;
}

li{
  margin: 0 10px 10px 0;
  padding: 0 10px 10px 0;
  border: 10px;
  float: left;
}
.content {
  margin: 30px;
  padding: 20px;
}

.movie_info{
  float: left;
  margin-left: 30px;
}

.container{
  border: 3px solid grey;
  float: center;
  width: 1000px;
  margin-right: 20px;
  height: 370px;
  padding: 10px;
}

.movie_photos{
  text-align: center;
  margin-left: 50px;
}
p{
  color: #F3F3F0;
}
p .title{
  font-size: 80px;
}

footer{
  text-align: center;
}

img @footer{
  background-color: #222;
}
