@media only screen and (max-width: 1260px) {
	.container {
		padding-bottom: 5%;
	}
}

@media only screen and (max-width: 1250px) {
	.container {
		padding-bottom: 8%;
	}
}

@media only screen and (max-width: 1010px) {
	.container {
		padding-bottom: 10%;
	}
}

@media only screen and (max-width: 800px) {
	.container {
		padding-bottom: 13%;
	}
}

@media only screen and (max-width: 730px) {
	.container {
		padding-bottom: 15%;
	}
}

@media only screen and (max-width: 607px) {
	.container {
		padding-bottom: 22%;
	}
}

@media only screen and (max-width: 500px) {
	.container {
		padding-bottom: 30%;
	}
}

@media only screen and (max-width: 440px) {
	.container {
		padding-bottom: 40%;
	}
}

.announce_title {
	text-align: center;
	background-color: #E6F0FF;
	height: 2em;
}

.announce_title h2 {
	margin: 0;
	padding-top: 0.3em;
	font-weight: bolder;
}

.announcement {
	display: flex;
	justify-content: center;
	margin-top: 0.7em;
}

.announcement>div>h2 {
	margin: 0;
	font-weight: bolder;
	color: #0B0B61;
}

.news1, .news2 {
	background-color: #EFF5FB;
	border-radius: 4px;
	padding-top: 1%;
	display: block;
	width: 40%;
	border: 1px solid red;
	float: left;
	border: 1px solid #CEE3F6;
}

.news1 {
	margin-right: 1em;
}

.news1>h2, .news2>h2 {
	text-align: center;
	margin-top: 0.5em;
}

.news1>p, .news2>p {
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 3%;
	font-size: 16pt;
}

.map {
	border: 0;
	outline: 0;
	background-color: #0B0B61;
	color: white;
	text-align: center;
	float: right;
	margin-right: 10%;
	margin-top: 0.3em;
	border-radius: 4px;
	background-color: #0B0B61;
}