.serviceTitle{
	background-color: #E6F0FF;
	width: 100%;
	text-align: center;
	margin-top: -0.5%;
	height: 60px;
	overflow: hidden;
}

.serviceTitle >h2{
	padding-bottom: -2%;
}

.container {
  width: 90%;
  height: 80%;
  text-align: center;
  overflow: hidden;
  padding: 0.5%;
  margin-left: 1%;
}

.buttoncontainer{
  width: 100%;
  margin-bottom: 5%;
  float: center;
  margin-top: 7%;
}

.button{
  display: inline-block;
  border: 3px solid #0B0B61;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  height: 100px;
  background-color: #A9E2F3;
  box-shadow: 5px 3px 3px #0B0B61;
  margin-left: 0.5%;
  margin-right: 2%;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  width: 21%;
}

.button > a{
  overflow-x: hidden;
  width: 100%;
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
  text-align: center;
}
