.serviceTitle{
	text-align: center;
	background-color: #E6F0FF;
	height: 2em;
}

.serviceTitle > h2{
	margin: 0;
	padding-top: 0.3em;
}

.container {
  margin: 0 auto;
  height: 80%;
  text-align: justify;
  background-image: url("../images/child_care.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: scroll;
  align-items: center;
}

.description{
  	margin-left: 2.5%;
	text-align: justify;
	margin-top: 2%;
	margin-bottom: 7%;
	float: left;
	width: 48%;
	border: 3px solid #7FDD78;
	padding: 2%; 
	border-radius: 10px;
	background-color:white;
}

#hospitalization{
  margin-top: 1%;
}
