.programTitle{
	text-align: center;
	background-color: #E6F0FF;
	width: 100%;
	margin-top: -0.5%;
	padding-bottom: -0.5%;
	margin-bottom: -0.5%;
	overflow: hidden;
}

.container, .prt_container {
  width: 100%;
  height: 80%;
  text-align: center;
  background-color: #A9E2F3;
  align-items: center;
  margin-bottom: 5%;
}

.prt_container{
  background-image: url("../images/nurse_1.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 70%;
}

.description{
  text-align: center;
  margin-top: 3%;
  margin-left: 3%;
  padding-left: 2%;
  padding-right: 2%;
  float: center;
  width: 80%;
  background-color: white;
}
.programTitle{
 	background-color: #E6F0FF;
}
#education_program, #prt_nursing{
  margin-top: 1%;
  margin-bottom: 5%;
}
