@import
	url('https://fonts.googleapis.com/css?family=Proza+Libre|Roboto&display=swap')
	;

* {
	font-size: 17pt;
	font-family: 'Roboto', sans-serif;
	overflow: auto;
	scroll-behavior: smooth;
}

body {
	background: white;
	margin: 0 auto;
	padding: 0;
}

header {
	border-top: 10px solid #0B0B61;
	margin: 0 auto;
	padding-top: 5px;
	width: 100%;
	background-color: #CEE3F6;
	text-align: right;
	overflow: hidden;
}

header img {
	float: left;
	width: 150px;
	height: 80px;
}

header h3, h4 {
	margin: 5px 5px;
	margin-right: 50px;
	font-family: 'Proza Libre', sans-serif;
}

header h4 {
	font-weight: lighter;
}

.menubar {
	border: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	float: left;
	width: 100%;
}

.menubar ul {
	overflow: hidden;
	background-color: #0B0B61;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menubar ul li {
	list-style: none;
	float: left;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
}

.menubar li a {
	background-color: #0B0B61;
	color: white;
	display: block;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	width: 130px;
}

.menubar li a:hover, .menubar ul li:hover a {
	background-color: #111;
	color: #FFFFFF;
	text-decoration: none;
}

.menubar li ul {
	background-color: #0B0B61;
	display: none;
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	z-index: 200;
}

.menubar li:hover ul {
	display: block;
}

.menubar li li {
	background-color: #0B0B61;
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
}

.menubar li:hover li a {
	background: none;
}

.menubar li ul a {
	display: block;
	font-style: normal;
	margin: 0px;
	padding: 0;
	text-align: center;
}

.menubar li ul a:hover, .menubar li ul li:hover a {
	background-color: #111;
	border: 0px;
	color: #ffffff;
	text-decoration: none;
}

.menubar p {
	clear: left;
}

/* .menubar ul { */
/* 	list-style: none; */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	overflow: hidden; */
/* } */

/* .menubar ul li { */
/* 	list-style: none; */
/* 	float: left; */
/* 	line-height: 50px; */
/* 	vertical-align: middle; */
/* 	text-align: center; */
/* } */

/* .menubar li a { */
/* 	color: white; */
/* 	display: block; */
/* 	text-align: center; */
/* 	font-size: 13px; */
/* 	font-weight: bold; */
/* 	text-decoration: none; */
/* 	display: block; */
/* 	width: 130px; */
/* } */

/* .menubar li a:hover { */
/* 	background-color: #111; */
/* } */
footer {
	/* 	font-size: 0.5em; */
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	border-top: 5px solid #0B0B61;
	background-color: white;
	overflow: hidden;
}

div.foo_nav {
	padding-right: 0.3em;
	display: inline-block;
	float: right;
	padding-top: 0.2em;
}

div.foo_nav>a {
	color: #0B0B61;
	text-decoration: none;
	font-size: 0.7em;
}

div.copyright {
	display: inline-block;
	padding-bottom: 0.2em;
	padding-left: 0.3em;
}

div.copyright>span {
	text-align: left;
	font-size: 0.7em;
}

.icon-bar {
	bottom: 0;
	text-align: center;
	display: inline-block;
	padding-left: 7em;
	margin-top: 0.3em;
}

.icon-bar>a {
	display: inline-block;
	text-align: center;
	padding: 0.5em;
}

.facebook {
	background-image: url("../images/facebook.svg");
	color: white;
}

.twitter {
	background-image: url("../images/twitter.svg");
	color: white;
}

.google {
	background-image: url("../images/search.svg");
	color: white;
}

.youtube {
	background-image: url("../images/youtube.svg");
	color: white;
}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="copyright"]{font-size:0vw;}/*invisible*/
  [class*="foo_nav"]>a{font-size:3vw;}/*활성화시키려면 a태그 폰트 설정을 지워야함*/
  /*아니면 그냥 footer height를 5%로로 주고 아예 아무것도 표시 안되게 할 수도??*/
}