.serviceTitle{
	text-align: center;
	background-color: #E6F0FF;
	width: 100%;
	margin-top: -0.5%;
	padding-bottom: -0.5%;
	margin-bottom: -0.5%;
	overflow: hidden;
}


.description{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 13%;
  width: 80%;
  text-align: center;
  overflow: hidden;
  padding-bottom: 0;
  height: 100%;
  align-items: center;
}

.button-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  overflow: hidden;
  margin-top: 1%;
}

.row1{
  margin-left: 6%;
  margin-right: 4%;
}

.cell{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  border: 3px solid #0B0B61;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  height: 100px;
  background-color: #A9E2F3;
  box-shadow: 5px 3px 3px #0B0B61;
  margin-left: 0.5%;
  margin-right: 2%;
}

.cell>a{
  overflow-x: hidden;
  width: 100%;
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}

.AAE,.pharmacy, .GS{
  margin-right: -2px;
  margin-left: 2%;
  padding: 5px;
}
.cardiology, .GS, .opthalmology, .otolaryngology,  .radiology, .urology{
  margin-right: -2px;
  margin-left: -2px;
  padding: 5px;
}

.BS, .cardiology, .urology{
  margin-bottom: 0;
}

.cell:hover{
  color: white;
  background-color: #0B0B61;
}
