#donation>a {
	background-color: #111;
}

* {
	overflow: visible;
}

.container {
	padding-bottom: 9%;
}

.bread p {
	color: #0B0B61;
	background-color: #E6F0FF;
	font-size: 0.7em;
	margin-top: 0px;
	margin-bottom: -1%;
	padding-left: 1%;
	padding-top: 1%;
}

div.bread p>a {
	color: #0B0B61;
	font-size: 1em;
}

.donationTitle {
	text-align: center;
	background-color: #E6F0FF;
	height: 2em;
}

.donationTitle h2 {
	margin: 0;
	padding-top: 0;
}

.donationInfo {
	width: 60%;
	margin: 0 auto;
	margin-top: 1em;
}

.donationInfo h2 {
	text-align: center;
	color: #0B0B61;
}

.donationInfo img {
	width: 15em;
	height: 10em;
}

.imgcontainer {
	padding-top: 3%;
	padding-bottom: 3%;
	display: flex;
	justify-content: center;
}

.donate_amount {
	padding-top: 1%;
	display: flex;
	justify-content: center;
}

.donate_amount>button {
	background-color: #008CBA;
	border: none;
	color: #E6E6E6;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
}

.donate_chk {
	display: flex;
	justify-content: center;
	text-align: center;
	font-weight: bold;
	padding-top: 2%;
}

.donate_chk>div {
	width: 70%;
}

#amount_chk, #amount_chk>span {
	padding-top: 0.7em;
}

.donate_chk .yourdonation {
	padding-top: 0.5em;
}

.donate_btn>button, .reset_btn>button {
	background-color: #008CBA;
	border: none;
	color: #E6E6E6;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	margin-left: 1em;
}

.reset_btn>button {
	margin-left: 4em;
}

button:hover {
	background-color: #0431B4;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	[class*="donationInfo"] {
		margin-bottom: 28%;
		width: 70%;
	}
	.donate_amount {
		padding-top: 1%;
		display: grid;
	}
	.donate_amount>button, .donate_btn>button, .reset_btn>button {
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	.imgcontainer {
		padding-top: 1%;
		display: grid;
		justify-content: center;
	}
	/* 	.imgcontainer>img { */
	/* 		width: 13em; */
	/* 	} */
}

@media only screen and (max-width: 716px) {
}