#appointment>a {
	background-color: #111;
}

* {
	overflow: visible;
}

.container {
	padding-bottom: 8%;
}

.bread p {
	color: #0B0B61;
	background-color: #E6F0FF;
	font-size: 0.7em;
	margin-top: 0px;
	margin-bottom: -1%;
	padding-left: 1%;
	padding-top: 1%;
}

.bread>p>a {
	font-size: 1em;
}

.appointTitle {
	text-align: center;
	background-color: #E6F0FF;
	height: 2em;
}

.appointTitle h2 {
	margin: 0;
	padding-top: 0px;
}

.appointInfo {
	width: 70%;
	margin: 0 auto;
}

.appointInfo .callus {
	text-align: center;
	color: #BC2828;
}

.appointInfo .callus>a {
	text-decoration: none;
	color: #BC2828;
	font-weight: bold;
}

.appointInfo img {
	height: 20px;
	width: 20px;
}

ul.appointLength {
	list-style: none;
	list-style-image: url("../images/hospital_list_icon.png");
}

ul.appointLength>li:FIRST-CHILD {
	padding-top: 0;
}

ul.appointLength li {
	padding-left: 10px;
	padding-top: 1em;
}

table.openingHour {
	margin: auto;
	text-align: center;
}

table.openingHour th {
	padding-bottom: 3%;
}

table.openingHour td {
	border: 1px solid;
	padding-left: 1em;
	padding-right: 1em;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	[class*="appointInfo"] {
		margin-bottom: 30%;
	}
}